---
permalink: "/"
layout: default
h1: UI/UX <span>Designer</span>
intro-text: I am Joe Chiang, a Perth based UX/UI Designer &amp; Coder, who crafts creative
  customised user-friendly, accessible websites.
site-title: false
fixed-bg: true
bg_class: bg-home
body-class: page-home
custom-js:
  - "/assets/js/layzr.min.js"
  - "/assets/js/layzr.init.js"
---

      <section class="reverse">
        <div class="container">
          {% for project in site.projects limit:1 %}
            <div class="b-text">
              <h2 class="site-title">{{ project.title }}</h2>
              <p class="centre">{{ project.services }}</p>
            </div>
            <div class="b-photoset">
              <div class="l-row">
                <figure>
                  <a href="{{ project.url }}">
                    <img data-retina="{{ project.assets-path }}-preview@2x.png" data-normal="{{ project.assets-path }}-preview.png" alt="{{ project.title }}">
                  </a>
                </figure>
              </div>
            </div>
            <div class="b-text">
              <p class="centre"><a href="{{ project.url }}" class="button">View <span class="visually-hidden">the {{ project.title }}</span> Project</a></p>
            </div>
          {% endfor %}
        </div>
      </section>
      <section>
        <div class="container">
          <div class="b-text">
            <h2 class="site-title">Recent Posts</h2>
            {% for post in site.posts limit:3 %}
              <article class="post-list" role="article" itemscope itemtype="http://schema.org/BlogPosting">
                <a href="{{ post.url }}" class="content">
                  <header>
                    <h3 class="post-list__title" itemprop="name">{{ post.title }}</h3>
                    <p class="post__date"><time itemprop="dateCreated" datetime="{{ post.date | date: "%F" }}">{{ post.date | date: "%-d %b, %Y" }}</time></p>
                  </header>
                  {{ post.excerpt }}
                </a>
              </article>
            {% endfor %}
          </div>
        </div>
      </section>
