        <header role="banner" class="site-header">
          <div class="container">
            <a href="/" class="logo">J.Chiang</a>
            <a role="button" aria-label="Toggle Navigation" class="navicon">
              <span class="navi-label">Menu</span>
              <span class="lines"></span>
            </a>
            <div class="site-navi">
              <nav role="navigation">
                <ul>
                  <li><a href="/">Home</a></li>
                  <li><a href="/about/">About</a></li>
                  <li><a href="/journal/">Journal</a></li>
                  <li><a href="mailto:&#104;&#101;&#108;&#108;&#111;&#064;&#106;&#111;&#101;&#099;&#104;&#105;&#097;&#110;&#103;&#046;&#099;&#111;&#109;&#046;&#097;&#117;" class="js-email">Email</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </header>