        <header role="banner" class="site-header">
          <div class="container">
            <div class="site-navi">
              <nav role="navigation">
                <a href="/"{% if page.url == '/' %}class='current'{% endif %}>Work</a>
                <a href="/about/"{% if page.url == '/about/' %}class='current'{% endif %}>About</a>
                <a href="/journal/"{% if page.url == '/journal/' %}class='current'{% endif %}>Journal</a>
              </nav>
            </div>
          </div>
        </header>